$green-color: MediumSeaGreen;
$gray-color: Grey;

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.container {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
}

.row {
	margin: 0;
	padding: 0;
  
  &::before, &::after {
    content: "";
    display: table;
  }
  
  &::after {
    clear: both;
  }
}

.flex-display {
  display: flex;
  justify-content: center;
}

[class*="col-"] {
	float: left;
	min-height: 1px;
	position: relative;
}

.col-small {
  width: 20%;
}

.col-med {
  width: 60%;
}

.col-big {
  width: 100%;
}

.button {
  margin: 0 10px 20px 10px;
  padding: 20px 50px;  
  border-radius: 5px;  
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  outline: 0;  
}

.btn-green {
  border: 2px solid $green-color;
  background-color: $green-color;
  
  &:hover, &:active {
    background-color: white;
    color: $green-color;
  }
}

.btn-gray {
  border: 2px solid $gray-color;
  background-color: $gray-color;
  
  &:hover, &:active {
    background-color: white;
    color: $gray-color;
  }
}

label {
  font-size: 15px;
  color: $gray-color;
  text-align: left;
}

input {
  border: 2px solid $green-color;
  border-radius: 5px;  
  padding: 10px;
  margin: 5px 0 20px 0;
}

.scoreboard {
  border: 2px solid $green-color;
  border-radius: 20px;
  background-color: white;
  height: 120px;
  width: 200px;
  
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  
  .header {
    padding: 8px;
    border-radius: 16px 16px 0 0;
    background-color: $green-color;
    color: white;
  }  
  .user-name {
    padding: 5px 10px;
  }
  
  .column {
    display: inline-block;
    float: left;
    width: 50%;
    height: 72%;
    margin: 0;
    border-top: 2px solid $gray-color;  
    
    .column-header {
      border-bottom: 2px solid $gray-color;
      font-size: 13px;
      padding: 4px 0;
    }
    
    .score {
      font-size: 50px;
    }
  }

  .left-column {
    border-right: 2px solid $gray-color;
  }  
} //scoreboard

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);

  &.show {
    display: block;
  }
}

.modal {
  display: none;
  border: 2px solid $green-color;
  border-radius: 20px;
  padding: 20px 0;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  &#modal-new-game {
    width: 400px;
  }

  &#modal-end-game {
    width: 550px;
  }

  table {
    margin-top: 20px;
    width: 100%;

    tr {
      border-bottom: 1px solid $gray-color;
    }
  }

  &.show {
    display: block;
  }

  .close {
    position: absolute;
    right: 6px;
    top: 2px;
    padding: 5px;
    color: #000;
    text-decoration: none;
  }
  
  header {
    border-bottom: 2px solid $green-color;
    font-size: 20px;
    line-height: 30px;
    min-height: 30px;
    font-weight: bold;
    padding: 0 30px;
  }

  .content {
    min-height: 30px;
    max-height: 300px;
    padding: 20px 30px;
    overflow: auto;

    .form-container {
      width: 70%;
      margin: 0 auto;
      text-align: left;

      .button {
        width: 100%;
        margin: 5px 0;
      }

      input {
        width: 100%;
      }
    }    
  }
}


